@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --primary-font: "Montserrat", sans-serif;
  --primary-color:#FFFFF6;
  --secondary-color: #30ffb4;
  --violet-color:#150140;
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* #570d82 violet*/ 
/* #30ffb4 green */

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}
figure{
  width: 200px;
  height: 200px;
  background-color: grey;
  position: relative;
  overflow: hidden;
}

img {
  display: block;
  object-fit: contain;
  max-width: 100%;
  
}



body {
  
  font-family: var(--primary-font);
}


.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}



.header {
  display: flex;
  align-items: center;
  padding: 15px;

  background-color: var(--violet-color);
}

.head-item:not(:last-child) {
  margin-right: 24px;
}


.head-nav {
  display: flex;
  margin-left: 36px;
}


.head-item-link {
  font-size: 18px;
  color: var(--primary-color);
  transition: color var(--transition-dur-func);
}

.head-item-link:hover,
.head-item-link:focus {
  color: var(--secondary-color);
}

.hero-input-field {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 3px solid var(--secondary-color);
  border-radius: 4px;
  padding: 5px 15px;
}

.contacts {
  display: flex;
}

.contact-mail,
.contact-phone {
  font-size: 18px;
  color: var(--primary-color);
  transition: color var(--transition-dur-func);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--secondary-color);
}

.contact-phone:hover,
.contact-phone:focus {
  color: var(--secondary-color);
}

.contact-link {
  padding-right: 24px;
}

.bi-basket2 {
  color: var(--primary-color);
  font-size: 1.5rem;
  transition: color var(--transition-dur-func);
}

.bi-basket2:hover,
.bi-basket2:focus {
  color: var(--secondary-color);
}

.shop-logo {
  fill: #30ffb4;
}

.hero {
  background-color: var(--secondary-color);
  background-image: linear-gradient(
      rgba(137, 217, 198, 0.7),
      rgba(200, 247, 236, 0.7)
    ),
    url(/assets/bg-img.jpg);
  background-size: cover;
  padding-bottom: 24px;
}

.shop-title {
  font-weight: 600;
  font-size: 56px;
  color: var(--violet-color);
  text-align: center;
  padding-top: 24px;
}

.category {
  font-size: 36px;
  color: var(--violet-color);
  text-align: center;

}

.category-title {
  display: flex;
  font-size: 24px;
  padding: 8px;
  color: var(--violet-color);
  transition: color var(--transition-dur-func);
  
}

.category-title:hover,
.category-title:focus {
  color:var(--primary-color);
}


.category-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 20px;
  
}

.category-tools-item {
  width: calc((100% - 60px) / 4);
}

 




.small-svg {
  width: 32px;
  height: 32px;
  margin-right: 8px;
 
  
}

.footer-part {
  
  background-color: var(--violet-color);
  padding: 24px;

}

.footer-form-label {
  font-size: 18px;
  color: var(--primary-color);
  margin-right: 12px;
}
.footer-input-field {
  margin-right: 12px;
  border: 3px solid var(--secondary-color);
  border-radius: 4px;
  padding: 5px 15px;
}

.footer-btn {
  background-color: var(--primary-color);
  color: var(--violet-color);
  font-size: 18px;
  padding: 5px 15px;
  border-radius: 4px;
  border: transparent;
  transition: background-color var(--transition-dur-func);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--secondary-color);
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  
  margin-bottom: 12px;
  cursor: pointer;
  
}

.footer-item {

  color: var(--primary-color);
  transition: color var(--transition-dur-func);

}



.footer-item:hover,
.footer-item:focus {
  color: var(--secondary-color);
}



.footer-copyright {
  font-size: 14px;
  color: var(--primary-color);
  text-align: center;
}

.bi-geo-alt-fill {
  color: var(--secondary-color);
}








